@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// prettier-ignore
// $background-color, $border-color, $content-color
$alert-themes:
  "primary" #d9ecff #66b3ff #2d3640,
  "success" #d9f7e7 #66e09d #2d3640,
  "warning" #fff5d9 #ffd666 #2d3640,
  "alert" #fde2dd #f78b74 #2d3640,
  "dark" #2d3640 #2d3640 #ffffff;

@mixin alert-variant($background-color, $border-color, $content-color) {
  background-color: $background-color;
  border: 1px solid $border-color;
  color: $content-color;
}

.cdx-alert {
  position: relative;
  padding: 16px 20px;
  border-radius: 6px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
}

@each $name, $background-color, $border-color, $content-color in $alert-themes {
  .cdx-alert--#{$name} {
    @include alert-variant($background-color, $border-color, $content-color);
  }
}

.cdx-alert--left {
  text-align: left;
}
.cdx-alert--center {
  text-align: center;

  .cdx-alert__message[contentEditable="true"][data-placeholder] {
    &::before {
      transform: translateX(-50%);
    }
  }
}
.cdx-alert--right {
  text-align: right;
  .cdx-alert__message[contentEditable="true"][data-placeholder] {
    &::before {
      transform: translateX(-100%);
    }
  }
}

.cdx-alert__message {
  outline: none;
  position: relative;

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.5;

  a {
    color: #0080ff;

    &:hover,
    &:focus {
      color: #006edb;
    }
  }
}

.cdx-alert .cdx-alert__message[contentEditable="true"][data-placeholder] {
  &::before {
    position: absolute;
    content: attr(data-placeholder);
    color: #5c6b7a;
    font-weight: normal;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;

    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.5;
  }

  &:empty::before {
    opacity: 1;
  }

  &:empty:focus::before {
    opacity: 0;
  }
}

.cdx-alert--dark .cdx-alert__message[contentEditable="true"][data-placeholder] {
  &::before {
    color: #81878c;
  }
}

.cdx-alert--primary .cdx-alert__message::selection,
.cdx-alert--primary .cdx-alert__message > *::selection {
  background-color: #ffffff;
}

#editorjs {
  // hide convert to
  .ce-inline-toolbar__toggler-and-button-wrapper .ce-inline-toolbar__dropdown {
    display: none;
  }
}
